<script id="DevicesListTemplate" type="x-jquery-tmpl">
<div class="col-sm-3">
    <div class="panel {{if Finsh==1}} panel-success{{else}}panel-danger {{/if}} {{if InShowRoomDevices==1}} blackColor{{/if}}">
        <div class="panel-heading">

            <p   class="panel-title ">${NameDevices}</p>


            <button type="button" data-poload="json/devices/getInfoDevice.php?&ID=${idDevices}"  data-placement="bottom"
                    title="" class="close" aria-label="Close" data-original-title="معلومات الجهاز"><span
                    class="fa fa-info-circle   toolsHeader"></span></button>



 <button type="button"  data-toggle="modal" data-target="#editDevicesTypeModal"  data-ID="${idDevices}"  class="close" aria-label="Close" data-original-title="تعديل" ><span class="fa fa-pencil toolsHeader"></span></button>



            <span data-toggle="tooltip" data-placement="top" title="" class="badge pull-right badge-success"
                  data-original-title="${DateAdded}">${totalDays}</span>

        </div>

        <div class="panel-body">

            <div class="imgListDevices">
                <img src="./imageDevices/${imageUrl}" alt="img">

        </div>

          <span style="text-transform: uppercase;color: blue;">${Serial}</span>

                                                                                                       <!--نسخ الرقم التسلسلي-->

            <button class="btn btn-default clipboard" data-clipboard-demo="" data-clipboard-action="copy" data-clipboard-text="${Serial}">نسخ</button>


            </div>

        <div class="panel-footer clearfix">
            <div class="pull-right"> </div>





            <button type="button" data-toggle="tooltip" data-placement="top" title="" onclick="showModel(${idDevices})"
                    class="close" aria-label="Close" data-original-title="اضافة حالة"><span
                    class="glyphicon glyphicon-plus toolsHeader"></span></button>

            <button type="button" data-toggle="tooltip" data-placement="top" title="" onclick="finshDevice(${idDevices})"
                    class="close" aria-label="Close" data-original-title="انهاء حالة الجهاز"><span
                    class="glyphicon glyphicon-ok redColor  toolsHeader"></span></button>

            <button type="button" data-toggle="tooltip" data-placement="top" title="" onclick="printDevice(${idDevices})"
                    class="close" aria-label="Close" data-original-title="طباعة الفاتورة"><span
                    class="glyphicon glyphicon-print toolsHeader"></span></button>

            <button type="button" data-toggle="tooltip" data-placement="top" title="" onclick="editRefDevices(${idDevices})"
                    class="close" aria-label="Close" data-original-title="اضافة رقم المرجع"><span
                    class="glyphicon  glyphicon-pushpin toolsHeader"></span></button>


            <button type="button" data-placement="top" data-poload="json/getStatusDevices.php?ID=${idDevices}"
                    class="close" aria-label="Close" data-original-title="" title=""><span
                    class="glyphicon  glyphicon-comment toolsHeader"></span></button>


            <button type="button" data-toggle="tooltip" data-placement="top" title="" onclick="editTracNumber(${idDevices})"
                    class="close" aria-label="Close" data-original-title="بوليصة الشحن"><span
                    class="glyphicon glyphicon-plane toolsHeader"></span></button>


            <button type="button" data-toggle="tooltip" data-placement="top" title="" onclick="editMonyDevices(${idDevices})"
                    class="close" aria-label="Close" data-original-title="تعديل مبلغ الصيانة"><span
                    class="glyphicon glyphicon-usd  toolsHeader"></span></button>

            <button type="button" data-toggle="tooltip" data-placement="top" title="" onclick="editImportantDevices(${idDevices})"
                    class="close" aria-label="Close" data-original-title="مهم"><span
                    class="fa fa-eye  toolsHeader panel {{if important==1}} greenColor{{else}}redColor {{/if}}"></span></button>



            <button type="button" data-toggle="tooltip" data-placement="top" title="" onclick="editInShowRoomDevices(${idDevices})"
                    class="close" aria-label="Close" data-original-title="وصل المعرض"><span
                    class="fa fa-ambulance  toolsHeader panel {{if InShowRoomDevices==1}} greenColor{{else}}redColor {{/if}}"></span>
            </button>


            <button
                    class="close" aria-label="Close"><span idDevice="${idDevices}"
                    class="fa fa-bars  toolsHeader ToolBarStatus"></span>
            </button>




        </div>

    </div>
</div>



</script>


<!-- تمبلت الخاص بعرض انواع الاجهزة مع العدد -->

<script id="dropdownMenuNotfctionTpl" type="x-jquery-tmpl">
<li onclick=showListDevices({t:'${IDTypeDevice}',by:'t'}) > <a href="#${type}"><div class="task-icon badge badge-success">
<i class="fa fa-tablet"></i>
 </div><span class="badge badge-roundless badge-default pull-right">${count}</span>
 <p class="task-details">${type}</p></a>
 </li>
</script>


<!-- تمبلت الخاص الجهاز وصل المعرض -->

<script id="ImportantTpl" type="x-jquery-tmpl">
<li onclick=showListDevices({t:'${IDTypeDevice}',by:'t',Parm:'Important'}) > <a href="#${type}">${cusName}<div class="task-icon badge badge-success">
<i class="fa fa-tablet"></i>
 </div><span class="badge badge-roundless badge-default pull-right">${count}</span>
 <p class="task-details">${type}</p></a>
 </li>

</script>


<!-- تمبلت مهم  -->

<script id="InShowRoomTpl" type="x-jquery-tmpl">
<li onclick=showListDevices({t:'${IDTypeDevice}',by:'t',Parm:'InShowRoom'}) > <a href="#${type}">${cusName}<div class="task-icon badge badge-success">
<i class="fa fa-tablet"></i>
 </div><span class="badge badge-roundless badge-default pull-right">${count}</span>
 <p class="task-details">${type}</p></a>
 </li>

</script>


<!-- تمبلت الخاص تعدت تاريخ 25 يوم  -->

<script id="MaxDateTpl" type="x-jquery-tmpl">
<li onclick=showListDevices({t:'${IDTypeDevice}',by:'t',Parm:'MaxDate'}) > <a href="#${type}"><div class="task-icon badge badge-success">
<i class="fa fa-tablet"></i>
 </div><span class="badge badge-roundless badge-default pull-right">${count}</span>
 <p class="task-details">${type}</p></a>
 </li>

</script>





<!-- تمبلت الخاص بعرض العملاء -->

<script id="ListCustemerTpl" type="x-jquery-tmpl">
<a  onclick="showListDevices({by:'ID',ID:${ID}});" href="#${ID}" class="showRight2"><img src="icons/custemers.png" alt=""><span>${Name}<small>${DateAdded}</small></span></a>

</script>


<!--تعديل نوع  الجهاز-->
<div class="modal fade" id="editDevicesTypeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">#تعديل جهاز</h4>
            </div>
            <div class="modal-body">
                <form id="editCustemerAndDevices" action="editCustemerAndDevices.php" method="post"
                      class="form-horizontal">
                    <div class="panel panel-default ">

                        <div class="panel-body panel-title  clearfix">


                            <div class="form-group">
                                <label for="Name" class="col-sm-2 control-label">الاسم</label>
                                <div class="col-sm-10">
                                    <input type="input" class="form-control" name="Name" id="Name" placeholder="الاسم"
                                           required>
                                    <input type="text" name="IdCustemer" id="IdCustemer" style="display: none"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="MobileNumber" class="col-sm-2 control-label">رقم هاتف</label>
                                <div class="col-sm-10">
                                    <input type="input" class="form-control" name="MobileNumber" id="MobileNumber"
                                           placeholder="رقم هاتف" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="Serial" class="col-sm-2 control-label">Serial</label>
                                <div class="col-sm-10">
                                    <input type="input" class="form-control" name="Serial" id="Serial"
                                           placeholder="Serial">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="IDTypeDeviceTitle" class="col-sm-2 control-label">نوع جهاز</label>
                                <div class="col-sm-10">
                                    <input type="input" class="form-control" name="IDTypeDeviceTitle"
                                           style="width: 420px;" id="IDTypeDeviceTitle"
                                           placeholder="نوع الجهاز" required>
                                    <input type="text" name="IDTypeDevice" id="IDTypeDevice" style="display: none"/>
                                    <input type="text" name="idDevices" id="idDevices" style="display: none"/>

                                </div>
                            </div>

                            <div class="form-group">
                                <label for="Comment" class="col-sm-2 control-label">ملاحظة</label>
                                <div class="col-sm-10">
                                    <input type="input" class="form-control" name="Comment" id="Comment"
                                           placeholder="ملاحظة">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="Comment" class="col-sm-2 control-label">مبلغ</label>
                                <div class="col-sm-10">
                                    <input type="input" class="form-control" name="Mony" value="0" id="Mony"
                                           placeholder="مبلغ">
                                </div>
                            </div>

                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" onclick="saveEditDevices();" class="btn btn-primary">حفظ</button>
            </div>
        </div>
    </div>
</div>
