
[id^=owlCarousel] .item {
    background: #42bdc2;
    padding: 30px 0px;
    margin: 10px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}

.alert {
    padding: 8px;
    margin-bottom: 1px;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 92px;
}

.Xclose {
    position: relative;
    font-size: 13px;

}

.toolsHeader {
    padding-left: 5px;
    padding-right: 5px;
}

.alert .close {
    top: -12px;
    left: -1px;
}

.owl-wrapper {
    width: 224px;
    left: 1px;
    display: inline-block;
    overflow: hidden;
}

.buttionCrousler {
    width: 84px;
}

.redColor {
    color: red;
}

.greenColor {
    color: green;
}

.row {
    margin-right: 1px;
    margin-left: 1px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 16px 20px;
    margin-bottom: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
}



.imgListDevices  {
    height: 330px;
    min-height: 330px;
    overflow: auto;
    margin: auto;
    top: 50%;
    left: 50%;


}


#exported:nth-child(2n+0){
    background-color: #c7ddef;
}


.popover{
    min-width: 250px;
    min-height: 200px;
}


body > div.container {
    padding: 50px 0;
    position: relative;
}
div.container iframe {
    position: absolute;
    top: 75px;
    right: 0;
}
h2 {
    margin-top: 40px;
    font-size: 14px;
    text-transform: uppercase;
}
p.spacer {
    height: 5px;
    overflow: hidden;
}
footer {
    padding: 20px 0;
    position: relative;
}
footer iframe {
    position: absolute;
    top: 20px;
    right: 0;
}
table td:first-child {
    width: 125px;
}
li strong {
    color: #111;
}
.btn.btn-large {
    float: right;
    margin-top: 40px;
}